# Trove's mongodb.conf

processManagement.fork: false
processManagement.pidFilePath: /var/run/mongodb/mongodb.pid
storage.journal.enabled: true
systemLog.destination: file
systemLog.logAppend: true
systemLog.path: /var/log/mongodb/mongo.log
